package ${package.Mapper};

import ${superMapperClassPackage};
import ${package.Entity}.${entity};
import org.apache.ibatis.annotations.Mapper;
import org.springframework.stereotype.Component;

/**
 * ${entity} Mapper
 *
 * ${author}  ${date}
 *
 * This code is generated using nk-devtools.
 */
@Mapper
@Component
public interface ${table.mapperName} extends ${superMapperClass}<${entity}> {
}
