<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="${package.Mapper}.${table.mapperName}">
    <!--
    ${entity} Mapper XML

    ${author}  ${date}

    This code is generated using nk-devtools.
     -->

    <!--  通用返回结果映射  -->
    <resultMap id="base_result_map" type="${package.Entity}.${entity}">
## 生成主键
#foreach($field in ${table.fields})
    #if(${field.keyFlag})
    <id column="${field.name}" property="${field.propertyName}"/>
    #end
#end
## 生成公共字段
#foreach($field in ${table.commonFields})
    <result column="${field.name}" property="${field.propertyName}"/>
#end

## 生成普通字段
#foreach($field in ${table.fields})
    #if(!${field.keyFlag})
    <result column="${field.name}" property="${field.propertyName}"/>
    #end
#end
    </resultMap>

    <!-- table fields

## 生成主键
#foreach($field in ${table.fields})
#if(${field.keyFlag})
${field.name}     ${field.comment}
#end
#end
## 生成公共字段
#foreach($field in ${table.commonFields})
${field.name}     ${field.comment}
#end
## 生成普通字段
#foreach($field in ${table.fields})
#if(!${field.keyFlag})
${field.name}     ${field.comment}
#end
#end

     -->
</mapper>