package ${package.Service};

import ${superServiceClassPackage};
import ${package.Entity}.${entity};

/**
 * ${entity} Service
 *
 * ${author}  ${date}
 *
 * This code is generated using nk-devtools.
 */
public interface ${table.serviceName} extends ${superServiceClass}<${entity}> {
}
