<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nekoimi.nk.auth.user.mapper.UserMapper">
    <!--
    User Mapper XML

    nekoimi  2021-12-23

    This code is generated using nk-devtools.
     -->

    <!--  通用返回结果映射  -->
    <resultMap id="base_result_map" type="com.nekoimi.nk.auth.user.entity.User">
                            <result column="id" property="id"/>
    <result column="created_at" property="createdAt"/>
    <result column="updated_at" property="updatedAt"/>
    <result column="deleted_at" property="deletedAt"/>

        <result column="username" property="username"/>
            <result column="password" property="password"/>
            <result column="mobile" property="mobile"/>
            <result column="email" property="email"/>
            <result column="tenant_id" property="tenantId"/>
            <result column="enable" property="enable"/>
        </resultMap>

    <!-- table fields

id     主键ID
created_at     记录创建时间
updated_at     记录更新时间
deleted_at     逻辑删除字段
username     用户名
password     密码
mobile     手机号
email     邮箱
tenant_id     租户ID
enable     是否启用；1 - enable，0 - disable

     -->
</mapper>